<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Order Details" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5 class="card-title flex-grow-1 mb-0">Invoice: {{invoice.code}}</h5>
                    <div class="flex-shrink-0">
                        <a routerLink="/invoices/details" class="btn btn-success btn-sm"><i
                                class="ri-download-2-fill align-middle me-1"></i> Invoice</a>
                            <button (click)="clearInvoice()" class="btn btn-primary">clear</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table  align-middle table-borderless mb-0">
                        <thead class="table-light text-muted">
                            <tr>
                                <th scope="col">Product Details</th>
                                <th scope="col" class="text-start">Item Price</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-end">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of invoice?.saleDetail">
                                <td class="col-6">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 avatar-md bg-light rounded p-2">
                                            <img [src]="Storage+item.product.photo[0].photoPath" alt=""
                                                class="img-fluid d-block">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="fs-15"><a routerLink="/home/product-detail/1"
                                                    class="link-primary">{{item.product.productName}}</a></h5>
                                            <p class="text-muted mb-0">Category: <span class="fw-medium">{{item.product.category}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-start">$ {{item.product.productPrice}}</td>
                                <td class="text-center">{{item.qty}}</td>
                                <td class="text-end">
                                  $  {{item.product.productPrice * item.qty}}
                                </td>
                            </tr>
                          
                            <tr class="border-top border-top-dashed">
                                <td colspan="2"></td>
                                <td colspan="2" class="fw-medium p-0">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <td>Sub Total :</td>
                                                <td class="text-end">${{invoice.subTotal}}</td>
                                            </tr>
                                            <tr>
                                                <td>Discount <span class="text-muted"></span> : :</td>
                                                <td class="text-end">%{{invoice.discount}}</td>
                                            </tr>
                                            <tr class="border-top border-top-dashed">
                                                <th scope="row">Total (USD) :</th>
                                                <th class="text-end">${{invoice.total}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end card-->
   
    </div>
    <!--end col-->
    <div class="col-xl-3">

        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    <h5 class="card-title flex-grow-1 mb-0">Customer Details</h5>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mb-0 vstack gap-3">
                    <li class=" fw-bold">
                        <i class="ri-user-line me-2 align-middle text-muted fs-16"></i>
                        {{invoice.customerName}}
                        <p class="text-muted mb-0">Customer</p>
                    </li>
                    <li class=" fw-bold">
                        <i class="ri-phone-line me-2 align-middle text-muted fs-16"></i>
                        {{invoice.customerTelephone}}
                    </li>
                </ul>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->