<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Product Details" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row gx-lg-5">
                    <div class="col-xl-4 col-md-8 mx-auto">
                        <div class="product-img-slider sticky-side-div">
                            <swiper [config]="config">
                                <div class="swiper-slide" *ngFor="let i of productDetail[0].images">
                                    <img src="{{i}}" alt="" class="img-fluid d-block" />
                                </div>
                            </swiper>
                            <div class="swiper-arrow">
                                <div class="swiper-button-prev" (click)="previousSlideComp()"></div>
                                <div class="swiper-button-next" (click)="nextSlideComp()"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-8">
                        <div class="mt-xl-0 mt-5">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <h4>{{productDetail[0].name}}</h4>

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-3 col-xl-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                    <i class="ri-money-dollar-circle-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">Price :</p>
                                                <h5 class="mb-0 fw-bold">${{productDetail[0].price}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-3 col-xl-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                    <i class="ri-stack-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">Available Stocks :</p>
                                                <h5 class="mb-0 fw-bold">{{productDetail[0].stocks}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>

                            <div class="row">
                                <div class="col-xl-6">
                                    <div class=" mt-4">
                                        <h5 class="fs-14">Colors :</h5>
                                        <div class="d-flex flex-wrap gap-2">
                                            <div ngbTooltip="{{i.key}}" placement="top"
                                                *ngFor="let i of productDetail[0].colors">
                                                <button type="button"
                                                    class="btn avatar-xs p-0 d-flex align-items-center justify-content-center border rounded-circle fs-20 {{i.value}}"
                                                    *ngIf="i.key == 'Out of Stock'" disabled>
                                                    <i class="ri-checkbox-blank-circle-fill"></i>
                                                </button>
                                                <button type="button"
                                                    class="btn avatar-xs p-0 d-flex align-items-center justify-content-center border rounded-circle fs-20 {{i.value}}"
                                                    *ngIf="i.key != 'Out of Stock'">
                                                    <i class="ri-checkbox-blank-circle-fill"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->

                            <div class="mt-4 text-muted">
                                <h5 class="fs-14">Services :</h5>
                                <ul class="list-unstyled product-desc-list">
                                    <li class="py-1" *ngFor="let i of productDetail[0].services">{{i}}</li>
                                </ul>
                            </div>

                            <div class="product-content mt-5">
                                <h5 class="fs-14 mb-3">Product Description :</h5>
                                <ul ngbNav #customNav="ngbNav" [activeId]="1"
                                    class="nav nav-tabs nav-tabs-custom nav-success" role="tablist">
                                    <li [ngbNavItem]="1" class="nav-item">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                            Specification
                                        </a>
                                        <ng-template ngbNavContent>
                                            <div class="tab-pane fade show active" id="nav-speci" role="tabpanel"
                                                aria-labelledby="nav-speci-tab">
                                                <div class="table-responsive">
                                                    <table class="table mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" style="width: 200px;">Category</th>
                                                                <td>Smart Phone</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Brand</th>
                                                                <td>Apple</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Color</th>
                                                                <td>Blue-Black-White-Red</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Ram || Graphics</th>
                                                                <td>4GB-6GB || 60HZ</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Memory</th>
                                                                <td>64GB/128GB/256GB</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <!-- <li [ngbNavItem]="2" class="nav-item">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                                            Details
                                        </a>
                                        <ng-template ngbNavContent>
                                            <div>
                                                <h5 class="fw-bold">Iphone 13 ProMax</h5>
                                                <p>លោកអ្នកអាចមករកនៅហាងផ្ទាល់ មានក្នុងស្ដុក សូមអរគុណ៕</p>

                                                <h5 class="fw-bold">Gift From Shop</h5>
                                                <div>
                                                    <p class="mb-2"><i
                                                            class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>កែវទឹក
                                                    </p>
                                                    <p class="mb-2"><i
                                                            class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>Screen
                                                        ការពារកញ្ចក់</p>
                                                    <p class="mb-2"><i
                                                            class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>Case
                                                    </p>
                                                    <p class="mb-0"><i
                                                            class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>ជើងទ្រមើលរឿង
                                                    </p>
                                                    <p class="mb-0"><i
                                                            class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>របស់ជាច្រើនផ្សេងទៀត...
                                                    </p>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li> -->
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content border border-top-0 p-4">
                                    <div [ngbNavOutlet]="customNav"></div>
                                </div>
                            </div>

                            <!-- end card body -->
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->