<!-- Start Breadcrumbs -->
<!-- <app-breadcrumbs title="Employee" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="customerList">
      <div class="card-header border-bottom-dashed">
        <div class="row g-4 align-items-center">
          <div class="col-sm">
            <div>
              <h5 class="card-title mb-0">Employee List</h5>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="d-flex gap-2">

              <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
                data-bs-target="#showModal" (click)="openModal(add)"><i class="ri-add-line align-bottom me-1"></i>
                Add Employee</button>

            </div>
          </div>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="card-body border-bottom-dashed border-bottom">
        <form>
          <div class="row g-3">
            <div class="col-xl-6">
              <div class="search-box">
                <input type="text" name="searchTerm" class="form-control"
                  placeholder="Search for employeee, email, phone, status or something..."
                  [(ngModel)]="service.searchTerm">
                <i class="ri-search-line search-icon cursor: pointer"></i>
              </div>


            </div>
            <!--end col-->
          </div>
        </form>
      </div>

      <div class="card-body">
        <div>
          <div class="table-responsive table-card mb-1">
            <table class="table">
              <thead class="table-light text-muted">
                <tr>

                  <!-- <th scope="col" style="width: 50px;"> -->
                  <!-- <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                        [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                    </div> -->
                  <!-- </th> -->
                  <!-- <th class="sort" data-sort="employeeName">Name</th>
                  <th class="sort" data-sort="employeeEmail">Email</th> -->
                  <!-- <th scope="col" style="width: 50px;">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                        [(ngModel)]="masterSelected" (change)="checkUncheckAll()">
                    </div>
                  </th> -->
                  <th class="sort" data-sort="employeeName">Name</th>
                  <th class="sort" data-sort="email">Email</th>
                  <th class="sort" data-sort="phone">Phone</th>
                  <th class="sort" data-sort="date">Joining Date</th>
                  <th class="sort" data-sort="status">Status</th>
                  <th class="sort" data-sort="action">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let rowData of Empl">
                  <!-- <td>
                    <div class="d-flex align-items-center" *ngIf="!rowData.profilePhoto">
                      <div class="flex-shrink-0 avatar-xs me-2">
                        <div class="avatar-title bg-soft-success text-success rounded-circle fs-13">
                          {{ rowData.employeeName}}
                        </div>
                      </div>
                      {{rowData.employeeName}}
                    </div>
                  </td>  -->
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img [src]="Storage+rowData.profilePhoto" alt=""
                          class="avatar-xxs rounded-circle image_src object-cover">
                      </div>
                      <div class="flex-grow-1 ms-2 name">{{rowData.employeeName}}</div>
                    </div>
                  </td>

                  <td>
                    <ngb-highlight [result]="rowData.employeeEmail"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="rowData.employeeTelephone"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="rowData.joinDate | date: 'yyyy-MMM-dd' "></ngb-highlight>
                  </td>
                  <td class="status">
                    <!-- <ngb-highlight [result]="rowData.status"></ngb-highlight> -->
                    <span class="badge badge-soft-{{'success'}} text-uppercase">{{rowData.status}}
                    </span>
                  </td>
                  <td>
                    <ul class="list-inline hstack gap-2 mb-0">
                      <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover"
                        data-bs-placement="top" title="Edit">
                        <a data-bs-toggle="modal" (click)="editModal(edit,rowData)"
                          class="text-primary d-inline-block edit-item-btn">
                          <i class="ri-pencil-fill fs-16"></i>
                        </a>
                      </li>
                    </ul>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div class="row justify-content-md-between align-items-md-center">
            <div class="col col-sm-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Showing
                {{startIndex}} to
                {{endIndex}} of {{totalRecord}}
              </div>
            </div>
            
            <div class="col col-sm-5">
              <div class="text-sm-right float-sm-end listjs-pagination">
                <ngb-pagination [collectionSize]="(total$ | async)!" (pageChange)="done()" [(page)]="pages"
                  [pageSize]="pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination  -->
          </div>
        </div>
        <!-- Employee Create Model -->
        <ng-template #add role="document" let-modal>
          <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
              (click)="modal.dismiss('Cross click')"></button>
          </div>

          <form [formGroup]="employeeForm">
            <div class="modal-body">
              <div class="text-center">
                <div class="position-relative d-inline-block">
                  <div class="position-absolute bottom-0 end-0">
                    <label for="lead-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                      title="Select Image">
                      <div class="avatar-xs cursor-pointer">
                        <div class="avatar-title bg-light border rounded-circle text-muted">
                          <i class="ri-image-fill"></i>
                        </div>
                      </div>
                    </label>
                    <input class="form-control d-none" formControlName="profilePhoto" id="lead-image-input"
                      (change)="onSelectFile($event)" type="file" accept="image/png, image/gif, image/jpeg">
                  </div>
                  <div class="avatar-lg p-1">
                    <div class="avatar-title bg-light rounded-circle">
                      <img [src]="urlLink" class="avatar-md rounded-circle object-cover" />
                    </div>
                  </div>
                </div>
                <h5 class="fs-13 mt-3">Profile Employee</h5>
              </div>

              <div class="mb-3">
                <label for="employeeName-field" class="form-label">Employee Name</label>
                <input type="text" id="employeeName-field" class="form-control" placeholder="Enter Name" required
                  formControlName="employeeName"
                  [ngClass]="{ 'is-invalid': submitted && employeeForm.controls['employeeName'].errors }" />
                <div *ngIf="submitted && employeeForm.controls['employeeName'].errors" class="invalid-feedback"
                  align="left">
                  <div *ngIf="employeeForm.controls['employeeName'].errors['required']">Employee Name is required</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="employeeEmail-field" class="form-label">Email</label>
                <input type="email" id="employeeEmail-field" class="form-control" placeholder="Enter Email" required
                  formControlName="employeeEmail"
                  [ngClass]="{ 'is-invalid': submitted && employeeForm.controls['employeeEmail'].errors }" />
                <div *ngIf="submitted && employeeForm.controls['employeeEmail'].errors" class="invalid-feedback"
                  align="left">
                  <div *ngIf="employeeForm.controls['employeeEmail'].errors['required']">Email is required</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="employeeTelephone-field" class="form-label">Telephone</label>
                <input type="text" id="employeeTelephone-field" class="form-control" placeholder="Enter Phone Number"
                  required formControlName="employeeTelephone"
                  [ngClass]="{ 'is-invalid': submitted && employeeForm.controls['employeeTelephone'].errors }" />
                <div *ngIf="submitted && employeeForm.controls['employeeTelephone'].errors" class="invalid-feedback"
                  align="left">
                  <div *ngIf="employeeForm.controls['employeeTelephone'].errors['required']">Phone Number is required
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div>
                  <label for="date-field" class="form-label">Join Date</label>
                  <input class="form-control flatpickr-input" type="text" placeholder="Select Date" mwlFlatpickr
                    [altInput]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d '" formControlName="joinDate">
                </div>
              </div>
              <!--end col-->


              <div class="mb-3">
                <label for="password-field" class="form-label">Password</label>
                <input type="text" id="password-field" class="form-control" placeholder="Enter Password" required
                  formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && employeeForm.controls['password'].errors }" />
                <div *ngIf="submitted && employeeForm.controls['password'].errors" class="invalid-feedback"
                  align="left">
                  <div *ngIf="employeeForm.controls['password'].errors['required']">Password is required</div>
                </div>
              </div>
              <!-- end dropzon-preview -->
            </div>

            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                  (click)="modal.close('Close click')">Close</button>
                <button class="btn btn-success" id="add-btn" (click)="onSave(employeeForm.value)">Add
                  Employee</button>
              </div>
            </div>
          </form>
        </ng-template>
        <!--End create Model -->

        <!-- Employee edit Model -->
        <ng-template #edit role="document" let-modal>
          <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
              (click)="modal.dismiss('Cross click')"></button>
          </div>

          <form [formGroup]="employeeForm">
            <input type="text" class="form-control" placeholder="Enter Name" required formControlName="id">

            <div class="modal-body">
              <div class="text-center">
                <div class="position-relative d-inline-block">
                  <div class="position-absolute bottom-0 end-0">
                    <label for="lead-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                      title="Select Image">
                      <div class="avatar-xs cursor-pointer">
                        <div class="avatar-title bg-light border rounded-circle text-muted">
                          <i class="ri-image-fill"></i>
                        </div>
                      </div>
                    </label>
                    <input class="form-control d-none" id="lead-image-input" (change)="onSelectFile($event)" type="file"
                      accept="image/png, image/gif, image/jpeg">
                  </div>
                  <div class="avatar-lg p-1">
                    <div class="avatar-title bg-light rounded-circle">
                      <img [src]="urlLink" class="avatar-md rounded-circle object-cover" />
                    </div>
                  </div>
                </div>
                <h5 class="fs-13 mt-3">Profile Employee</h5>
              </div>

              <div class="mb-3">
                <label for="employeeName-field" class="form-label">Employee Name</label>
                <input type="text" id="employeeName-field" class="form-control" placeholder="Enter Name" required
                  formControlName="employeeName"
                  [ngClass]="{ 'is-invalid': submitted && employeeForm.controls['employeeName'].errors }" />
                <div *ngIf="submitted && employeeForm.controls['employeeName'].errors" class="invalid-feedback"
                  align="left">
                  <div *ngIf="employeeForm.controls['employeeName'].errors['required']">Employee Name is required</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="employeeEmail-field" class="form-label">Email</label>
                <input type="email" id="employeeEmail-field" class="form-control" placeholder="Enter Email" required
                  formControlName="employeeEmail" />
              </div>

              <div class="mb-3">
                <label for="status-field" class="form-label">Status</label>
                <select class="form-control" data-plugin="choices" id="ticket-status" formControlName="status" >
                    <option value="">Status</option>
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>

              <div class="mb-3">
                <label for="employeeTelephone-field" class="form-label">Telephone</label>
                <input type="text" id="employeeTelephone-field" class="form-control" placeholder="Enter Phone Number"
                  required formControlName="employeeTelephone"
                  [ngClass]="{ 'is-invalid': submitted && employeeForm.controls['employeeTelephone'].errors }" />
                <div *ngIf="submitted && employeeForm.controls['employeeTelephone'].errors" class="invalid-feedback"
                  align="left">
                  <div *ngIf="employeeForm.controls['employeeTelephone'].errors['required']">Phone Number is required
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="password-field" class="form-label">Password</label>
                <input type="text" id="password-field" class="form-control" placeholder="Enter Password" required
                  formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && employeeForm.controls['password'].errors }" />
                <div *ngIf="submitted && employeeForm.controls['password'].errors" class="invalid-feedback"
                  align="left">
                </div>
              </div>
              <!--end col-->
            </div>

            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                  (click)="modal.close('Close click')">Close</button>
                <button type="submit" class="btn btn-success" id="add-btn" (click)="onEdit(employeeForm.value)">Edit
                  Employee</button>
              </div>
            </div>
          </form>
        </ng-template>
        <!--End edit Model -->

      </div>
    </div>
  </div>
  <!--end col-->
</div>