<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Invoice Report" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="invoiceList">
            <div class="card-header border-0">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">Invoices</h5>
                    <div class="flex-shrink-0">
                        <button class="btn btn-primary" onClick="deleteMultiple()">
                            <i class="ri-delete-bin-2-line"></i>
                        </button>
                        <a routerLink="/invoices/create" class="btn btn-danger"><i
                                class="ri-add-line align-bottom me-1"></i> Create Invoice</a>
                    </div>
                </div>
            </div>
            <div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
                <form>
                    <div class="row g-3">
                        <div class="col-xxl-5 col-sm-12">
                            <div class="search-box">
                                <input type="text" name="searchTerm" class="form-control search bg-light border-light"
                                    placeholder="Search by invoice..."
                                    [(ngModel)]="service.searchTerm" />
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-sm-4">
                            <input class="form-control bg-light border-light" type="text" mwlFlatpickr [altInput]="true"
                                [convertModelValue]="true" placeholder="Select date" />
                        </div>
                        <!--end col-->
                        <div class="col-xxl-3 col-sm-4">
                            <div class="input-light">
                                <select class="form-control bg-light border-light" data-choices
                                    data-choices-search-false name="choices-single-default" id="idStatus">
                                    <option value="">Status</option>
                                    <option value="all" selected>All</option>
                                    <option value="Unpaid">Unpaid</option>
                                    <option value="Paid">Paid</option>
                                    <option value="Cancel">Cancel</option>
                                    <option value="Refund">Refund</option>
                                </select>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-xxl-1 col-sm-4">
                            <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i> Filters
                            </button>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </form>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap" id="invoiceTable">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col" style="width: 50px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                                [(ngModel)]="masterSelected" (change)="checkUncheckAll()" />
                                        </div>
                                    </th>
                                    <th class="sort text-uppercase" data-sort="invoice_id">
                                        Invoice ID
                                    </th>
                                    <th class="sort text-uppercase" data-sort="customer_name">
                                        Customer
                                    </th>
                                    <th class="sort text-uppercase" data-sort="date">Date</th>
                                    <th class="sort text-uppercase" data-sort="invoice_amount">
                                        Amount
                                    </th>
                                    <th class="sort text-uppercase" data-sort="action">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of invoicesList$ | async">
                                    <th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkAll"
                                                value="option1" [(ngModel)]="data.isSelected" />
                                        </div>
                                    </th>
                                    <td>
                                        <ngb-highlight [result]="data.invoiceId" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td class="customer_name">
                                        <div class="d-flex align-items-center" *ngIf="data.img">
                                            {{ data.name }}
                                        </div>
                                        <div class="d-flex align-items-center" *ngIf="!data.img">
                                            <div class="flex-shrink-0 avatar-xs me-2"></div>
                                            {{ data.name }}
                                        </div>
                                    </td>
                                    <td class="date">
                                        {{ data.date }}
                                        <small class="text-muted">{{ data.time }}</small>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.amount" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <div class="dropdown" ngbDropdown>
                                            <button class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                                                type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                <i class="ri-more-fill align-middle"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                <li>
                                                    <a class="dropdown-item" href="invoices/details"><i
                                                            class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                        View</a>
                                                </li>
                                                <!-- <li>
                                                    <a class="dropdown-item" href="invoices/create"><i
                                                            class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                        Edit</a>
                                                </li> -->
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="ri-download-2-line align-bottom me-2 text-muted"></i>
                                                        Download</a>
                                                </li>
                                                <li class="dropdown-divider"></li>
                                                <li>
                                                    <a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        (click)="confirm()">
                                                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                        Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center mt-3">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Showing
                                {{ service.startIndex }} to {{ service.endIndex }} of
                                {{ service.totalRecords }}
                                entries
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->