<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Stocks"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="leadsList">
      <div class="card-header border-0">
        <div class="row g-4 align-items-center">
          <div class="col-sm-3">
            <div class="search-box">
              <input
                type="text"
                name="searchTerm"
                class="form-control"
                placeholder="Search for..."
                [(ngModel)]="service.searchTerm"
              />
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-sm-auto ms-auto">
            <div class="hstack gap-2">              
              <div>
                <a routerLink="/stocks/add-product" class="btn btn-success"><i
                    class="ri-add-line align-bottom me-1"></i> Add Product</a>
              </div>
              <div>
                <a routerLink="/stocks/adjust" class="btn btn-info"><i
                    class="ri-add-line align-bottom me-1"></i> Stock Adjustment</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div>
          <div class="table-responsive table-card ">
            <table class="table">
              <thead>
                <tr class="bg-light text-muted col-lg-5">
                  <th class="sort" data-sort="id">ID</th>
                  <th class="sort" data-sort="item_name_name">Item Name</th>
                  <th class="sort" data-sort="brand">Brand</th>
                  <!-- <th class="sort" data-sort="stock_avai">Stock Availability</th> -->
                  <th class="sort" data-sort="priority">Priority</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of invoiceList$ | async">
                  <td>
                    <ngb-highlight
                      [result]="data.id"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.item_name"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="data.brand"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <!-- <td class="stock_avai">
                      <span
                        class="badge bg-danger-ms-1"
                        *ngFor="let tag of data.stock_avai"
                        >{{ tag }}</span
                      >
                  </td> -->
                  <td class="priority"><span class="badge bg-{{data.priorityClass}} text-uppercase">{{data.priority}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="row justify-content-md-between align-items-md-center mt-3"
          >
            <div class="col col-sm-6">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing
                {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col col-sm-6">
              <div class="text-sm-right float-sm-end listjs-pagination">
                <ngb-pagination
                  [collectionSize]="(total$ | async)!"
                  [(page)]="service.page"
                  [pageSize]="service.pageSize"
                >
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
        <ng-template #content role="document" let-modal>
          <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel">Add Lead</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="close-modal"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <form (ngSubmit)="saveUser()" [formGroup]="leadsForm">
            <div class="modal-body">
              <input type="hidden" id="id-field" />
              <div class="row g-3">
                <div class="col-lg-12">
                  <div class="text-center">
                    <div class="position-relative d-inline-block">
                      <div class="position-absolute bottom-0 end-0">
                        <label
                          for="lead-image-input"
                          class="mb-0"
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          title="Select Image"
                        >
                          <div class="avatar-xs cursor-pointer">
                            <div
                              class="avatar-title bg-light border rounded-circle text-muted"
                            >
                              <i class="ri-image-fill"></i>
                            </div>
                          </div>
                        </label>
                        <input
                          class="form-control d-none"
                          value=""
                          id="lead-image-input"
                          type="file"
                          accept="image/png, image/gif, image/jpeg"
                        />
                      </div>
                      <div class="avatar-lg p-1">
                        <div class="avatar-title bg-light rounded-circle">
                          <img
                            src="assets/images/users/user-dummy-img.jpg"
                            id="lead-img"
                            class="avatar-md rounded-circle object-cover"
                          />
                        </div>
                      </div>
                    </div>
                    <h5 class="fs-13 mt-3">Lead Image</h5>
                  </div>
                  <div>
                    <label for="name-field" class="form-label">Name</label>
                    <input
                      type="text"
                      id="customername-field"
                      class="form-control"
                      placeholder="Enter Name"
                      required
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': submitted && form['name'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['name'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['name'].errors['required']">
                        Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="item_name_name-field" class="form-label"
                      >Company Name</label
                    >
                    <input
                      type="email"
                      id="item_name_name-field"
                      class="form-control"
                      placeholder="Enter item_name name"
                      required
                      formControlName="item_name"
                      [ngClass]="{
                        'is-invalid': submitted && form['item_name'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['item_name'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['item_name'].errors['required']">
                        Company Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div>
                    <label for="leads_score-field" class="form-label"
                      >Leads Score</label
                    >
                    <input
                      type="text"
                      id="leads_score-field"
                      class="form-control"
                      placeholder="Enter lead score"
                      required
                      formControlName="score"
                      [ngClass]="{
                        'is-invalid': submitted && form['score'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['score'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['score'].errors['required']">
                        Leads Score is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div>
                    <label for="phone-field" class="form-label">Phone</label>
                    <input
                      type="text"
                      id="phone-field"
                      class="form-control"
                      placeholder="Enter phone no"
                      required
                      formControlName="phone"
                      [ngClass]="{
                        'is-invalid': submitted && form['phone'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['phone'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['phone'].errors['required']">
                        Phone is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="brand-field" class="form-label"
                      >Location</label
                    >
                    <input
                      type="text"
                      id="brand-field"
                      class="form-control"
                      placeholder="Enter brand"
                      required
                      formControlName="brand"
                      [ngClass]="{
                        'is-invalid': submitted && form['brand'].errors
                      }"
                    />
                    <div
                      *ngIf="submitted && form['brand'].errors"
                      class="invalid-feedback"
                      align="left"
                    >
                      <div *ngIf="form['brand'].errors['required']">
                        Location is required
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div>
                    <label for="taginput-choices" class="form-label"
                      >Tags</label
                    >
                    <ng-select
                      [items]="selectValue"
                      [multiple]="true"
                      formControlName="stock_avai"
                      [ngClass]="{
                        'is-invalid': submitted && form['stock_avai'].errors
                      }"
                    ></ng-select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div>
                    <label for="date-field" class="form-label"
                      >Created Date</label
                    >
                    <input
                      class="form-control flatpickr-input"
                      type="text"
                      placeholder="Select Date"
                      mwlFlatpickr
                      [altInput]="true"
                      [enableTime]="true"
                      [convertModelValue]="true"
                      [dateFormat]="'Y-m-d H:i'"
                    />
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
                  (click)="modal.close('Close click')"
                >
                  Close
                </button>
                
                <button type="submit" class="btn btn-success" id="add-btn">
                  Add leads
                </button>
              </div>
            </div>
          </form>
        </ng-template>

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel"
        >
          <div class="offcanvas-header bg-light">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
              Leads Fliters
            </h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <!--end offcanvas-header-->
          <form action="" class="d-flex flex-column justify-content-end h-100">
            <div class="offcanvas-body">
              <div class="mb-4">
                <label
                  for="datepicker-range"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Date</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="datepicker-range"
                  data-provider="flatpickr"
                  data-range="true"
                  placeholder="Select date"
                />
              </div>
              <div class="mb-4">
                <label
                  for="country-select"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Country</label
                >
                <select
                  class="form-control"
                  data-choices
                  data-choices-multiple-remove="true"
                  name="country-select"
                  id="country-select"
                  multiple
                >
                  <option value="">Select country</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Brazil" selected>Brazil</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Denmark">Denmark</option>
                  <option value="France">France</option>
                  <option value="Germany">Germany</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Russia">Russia</option>
                  <option value="Spain">Spain</option>
                  <option value="Syria">Syria</option>
                  <option value="United Kingdom" selected>
                    United Kingdom
                  </option>
                  <option value="United States of America">
                    United States of America
                  </option>
                </select>
              </div>
              <div class="mb-4">
                <label
                  for="status-select"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Status</label
                >
                <div class="row g-2">
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox1"
                        value="option1"
                      />
                      <label class="form-check-label" for="inlineCheckbox1"
                        >New Leads</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox2"
                        value="option2"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >Old Leads</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox3"
                        value="option3"
                      />
                      <label class="form-check-label" for="inlineCheckbox3"
                        >Loss Leads</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox4"
                        value="option4"
                      />
                      <label class="form-check-label" for="inlineCheckbox4"
                        >Follow Up</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label
                  for="leadscore"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Lead Score</label
                >
                <div class="row g-2 align-items-center">
                  <div class="col-lg">
                    <input
                      type="number"
                      class="form-control"
                      id="leadscore"
                      placeholder="0"
                    />
                  </div>
                  <div class="col-lg-auto">To</div>
                  <div class="col-lg">
                    <input
                      type="number"
                      class="form-control"
                      id="leadscore"
                      placeholder="0"
                    />
                  </div>
                </div>
              </div>
              <div>
                <label
                  for="leads-stock_avai"
                  class="form-label text-muted text-uppercase fw-semibold mb-3"
                  >Tags</label
                >
                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="marketing"
                        value="marketing"
                      />
                      <label class="form-check-label" for="marketing"
                        >Marketing</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="management"
                        value="management"
                      />
                      <label class="form-check-label" for="management"
                        >Management</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="business"
                        value="business"
                      />
                      <label class="form-check-label" for="business"
                        >Business</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="investing"
                        value="investing"
                      />
                      <label class="form-check-label" for="investing"
                        >Investing</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="partner"
                        value="partner"
                      />
                      <label class="form-check-label" for="partner"
                        >Partner</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="lead"
                        value="lead"
                      />
                      <label class="form-check-label" for="lead">Leads</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="sale"
                        value="sale"
                      />
                      <label class="form-check-label" for="sale">Sale</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="owner"
                        value="owner"
                      />
                      <label class="form-check-label" for="owner">Owner</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Banking</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Exiting</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Finance</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="banking"
                        value="banking"
                      />
                      <label class="form-check-label" for="banking"
                        >Fashion</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end offcanvas-body-->
            <div
              class="offcanvas-footer border-top p-3 text-center hstack gap-2"
            >
              <button class="btn btn-light w-100">Clear Filter</button>
              <button type="submit" class="btn btn-success w-100">
                Filters
              </button>
            </div>
            <!--end offcanvas-footer-->
          </form>
        </div>
        <!--end offcanvas-->
      </div>
    </div>
  </div>
 
  <!--end col-->
</div>
<!--end row-->
